<!doctype html>
<html>
    <head>
        <title> 
            Create ToDo
        </title>
    </head>
    <body>
        <main>
            <div>
                <h1>Are you sure?</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Delete</button>
            </div>
        </main>
</body>
</html>
