<!doctype html>
<html>
    <Head>
        <title>Todo Lists</title>
    </Head>
<body>
    <main>
        <div>
            <h1>{{ todo_list.name }} </h1>
            <p>
                <a href="{% url 'todo_list_update' todo_list.id %}"a>Edit</a>
                <a href="{% url 'todo_list_delete' todo_list.id %}"a>Delete</a>
                <a href="{% url 'todo_item_update' todo_list.id %}"a>Update</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <th> Task </th>
                    <th> Due date</th>
                </thead>
                <tbody>
                    {% for task in todo_list.items.all %}
                    <tr>
                    <a href="{% url 'todo_list_detail' task.id %}">{{task.item.all}}</a>
                    <td> {{ task.task }}</td>
                    <td> {{ task.due_date }}</td>
                    </tr>

                    {%endfor%}
                    
                </tbody>
            </table>
        </main>
</body>
</html>
