<!doctype html>
<html>
    <head>
        <title> 
            Update Todo
        </title>
    </head>
    <body>
        <main>
            <div>
                <h1>Update list</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <label type="text">
                    <button>Update</button>
            </div>
        </main>
</body>
</html>
