<!doctype html>
<html>
    <Head>
        <title>Todo Lists</title>
        
    </Head>
<body>
    <main>
        <div>
            <h1> My Lists</h1>
            <p>
                <a href="{% url 'todo_list_create'%}"a>Create a new list</a>
                <a href="{% url 'todo_item_create'%}"a>Create a new Item</a>
            </p>
            <table>
                <thead>
                    <th> Name </th>
                    <th> Number of items</th>
                </thead>
                <tbody>
                    {% for list in todo_lists %}
                    <tr>
                    
                    <td><a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a></td>
                    <td> {{ list.items.all|length }}</td>
                    </tr>
                    {%endfor%}

                </tbody>
            </table>
        </div>
        </main>
</body>
</html>
